.card-section {
    padding-top: 150px;
    @include display-flex;
    @include fd-c;
    @include ai-c;

    &__title {
        color: $soft-black;
    }
}

.cards-container {
    margin: 75px auto 0 auto;
    @include display-flex;
    @include jc-c;
    flex-wrap: wrap;
}

.tech {
   @include display-flex;
   margin-top: 10px;

    &__item {
        padding: 6px 16px;
        background-color: #E5E5E5;
        border-radius: 5px;
        margin-right: 15px;
        font-size: 0.75rem;
        color: $deep-grey;
    }
}