body {
    background-color: $light-grey;
}

.container {
    max-width: 1166px;
    margin: 0 auto;
}

.nav {
    background-color: $secondary-color;
    height: 55px;
    display: flex;

    &__container {
        display: flex;
        justify-content: space-between;
        align-self: center;
        width: 100%;
    }

    &__btn {
        align-self: center;
        color: $white;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-self: center;
    margin-left: -60%;

    &__link--white {
        color: $white;
    }
<<<<<<< HEAD
}

.hero {
    background-color: $white;

    &__text-container {
        width: 47%;
        align-self: center;
    }
}

.hero-container {
    display: flex;
    padding: 100px 0 100px 0;
    justify-content: space-around;
    border: 2px solid red;
=======
>>>>>>> f52ac3d485f497af2ff25152a1958b3702506f1e
}