body {
    background-color: $light-grey;
}

.container {
    max-width: 1166px;
    margin: 0 auto;
}

.hero {
    background-color: $white;

    &__text-container {
        width: 47%;
        @include as-c;
    }

    &__text {
        margin-top: 15px;
    }

}

.signin {
    margin-top: 15px;
}

.hero-container {
    @include display-flex;
    @include jc-sa;
    padding: 100px 0 100px 0;
}