body {
    background-color: $light-grey;
}

.container {
    max-width: 1166px;
    margin: 0 auto;
}

.nav {
    background-color: $secondary-color;
    height: 55px;
    @include display-flex;

    &__container {
        @include display-flex;
        @include jc-sb;
        align-self: center;
        width: 100%;
    }

    &__btn {
        align-self: center;
        color: $white;
    }
}

.menu {
    @include display-flex;
    @include jc-sb;
    width: 20%;
    align-self: center;
    margin-left: -60%;

    &__link--white {
        color: $white;
    }
}

.hero {
    background-color: $white;

    &__text-container {
        width: 47%;
        align-self: center;
    }
}

.hero-container {
    @include display-flex;
    @include jc-sa;
    padding: 100px 0 100px 0;
}