.nav {
    background-color: $secondary-color;
    height: 85px;
    @include display-flex;

    &__container {
        @include display-flex;
        @include jc-sb;
        @include as-c;
        width: 100%;
    }

    &__button {
        @include as-c;
        color: $white;
    }
}

.menu {
    @include display-flex;
    @include jc-sb;
    width: 20%;
    @include as-c;
    margin-left: 55%;

    &__link--white {
        color: $white;
    }
}
