.btn {
    border-radius: 5px;
    font-weight: 600;
}

.btn--small {
    padding: 10px 36px;
}

.btn--medium {
    padding: 15px 10px;
}

.btn--blue {
    background-color: $primary-color;
}

.btn--black {
    background-color: $secondary-color;
}

.btn--grey {
    background-color: $light-grey;
}