@mixin display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin jc-sa {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@mixin jc-sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin as-c {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}