@mixin display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
}

@mixin jc-sa {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@mixin jc-sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin as-c {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

@mixin fd-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin btn__shadow {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

@mixin ai-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}