.logo {
    font-size: 26px;
    color: $white;

    &__plus {
        color: $primary-color;
    }
}

.menu__item {
    font-size: 0.875rem;
}

.nav__btn {
    font-size: 0.875rem;
<<<<<<< HEAD
}

.hero__title {
    font-size: 2rem;
}

.hero__text {
    font-size: 0.875rem;
}
=======
}
>>>>>>> f52ac3d485f497af2ff25152a1958b3702506f1e
